.configurator{
  background: #efefef;
  padding:10px;
  display: flex;
  flex-wrap: wrap;
}

.configurator-label{
  margin-right: 15px;
}
.configurator-label-text{
  font-size: 14px;
}

.configurator-label-input{
  margin-left: 6px;
  width: 50px;
}